body{
  font-family: courier new;
  font-size: 18px;
  background-color: #F6E7E0;
  color: #AB5843;
}

h1{
  font-weight: 800;
  font-size: 35px;
  color: #143931;
}

h2{
  font-size: 30px;
  color: #143931;
}

img{
  width: 600px;
  border: 5px solid #143931;
  margin: 25px;
}

image{
  width: 700px;
  border: 5px solid #143931;
}

a:link{
  color: #AB5843;
}

a:visited{
  color: #D2B48C;
}

a:hover{
  color: #C99487;
}

button{
  background-color: #143931;
  border: 0px;
  text-align: center;
  color: #D7CC6F;
  font-family: courier new;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
}

button:hover{
  background-color: #3F5D57;
  border: 0px;
  text-align: center;
  color: #D7CC6F;
  font-family: courier new;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
}

button:active{
  background-color: #3F5D57;
  border: 0px;
  text-align: center;
  color: #D7CC6F;
  font-family: courier new;
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  margin-left: 15px;
}
