body{
  font-family: courier new;
  font-size: 18px;
  background-color: #F6E7E0;
  color: #AB5843;
}

h1{
  font-weight: 800;
  font-size: 35px;
  color: #143931;
}

h2{
  font-size: 30px;
  color: #143931;
}

img{
  width: 600px;
  border: 5px solid #143931;
  margin: 25px;
}

image{
  width: 700px;
  border: 5px solid #143931;
}

a:link{
  color: #AB5843;
}

a:hover{
  color: #C99487;
}

a:visited{
  color: #D2B48C;
}

form{
  
}
