.topbar{
  position: fixed;
  background-color: white;
}

.active{
  text-decoration: underline;
}

.bottomnav{
  display: flex;
  width: 100vw;
  background-color: #E8E8E8;
  font-family: georgia;
  color: black;
  letter-spacing: 2px;
  padding-top: 10px;
}

#bottomleft{
  margin-left: 7vw;
  margin-bottom: 1vh;
}

#bottommiddle{
  margin-left: 45vw;
}

#bottomright{
  margin-left: 5vw;
}

#bottomleft a, #bottommiddle a, #bottomright a{
  color: black;
  text-decoration: none;
}

#bottomleft a:hover, #bottommiddle a:hover, #bottomright a:hover{
  color: grey;
  text-decoration: none;
}

#bottomleft a:visited, #bottommiddle a:visited, #bottomright a:visited{
  color: black;
  text-decoration: none;
}

#namelink{
  font-size: 30px;
  font-weight: lighter;
}

#aboutlink{
  font-size: 25px;
  font-weight: lighter;
}

#contactlink{
  font-size: 25px;
  font-weight: lighter;
}

.bottomsocials{
  background-color: #E8E8E8;
}

#btmsocial img{
  width: 3vw;
  margin: 0px 10px 0px 10px;
  margin-bottom: 1vh;
}

#btmsocial{
  display: flex;
  width: 50%;
  margin-left: 6vw;
  /* margin: auto; */
  justify-content: left;
  flex-grow: 1;
}

#menu{
  display: flex;
  justify-content: center;
}

#home{
  background-image: url('../final/assets/leeds.jpg');
}

#menuhome{
  display:flex;
  width: 30vw;
  float: right;
  flex-wrap: wrap;
  margin-top: 1vw;
  letter-spacing: 2px;

}

#menuhome a{
  font-family: georgia;
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 20px;
}

#menu{
  display:flex;
  width: 38vw;
  float: right;
  flex-wrap: wrap;
  margin-top: 2vw;
  /* margin-right: 2vw; */
  letter-spacing: 2px;

}

#menu a{
  font-family: georgia;
  font-size: 20px;
  font-weight: 200;
  color: black;
  text-decoration: none;
  margin-left: 15px;
}

#homepagehome{
  display:flex;
  width: 50vw;
  justify-content: left;
  flex-wrap: wrap;
  margin: 2vw;
}

#homepagehome a{
  font-size: 50px;
  font-weight: 300;
  color: white;
  /* margin-left: px; */
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

#homepage{
  display:flex;
  width: 100vw;
  justify-content: left;
  flex-wrap: wrap;
}

#homepage a{
  font-size: 35px;
  font-weight: 300;
  color: #343434;
  margin-left: 3vw;
  text-decoration: none;
  letter-spacing: 2px;
}

#homepage a:visited{
  font-size: 50px;
  font-weight: 300;
  color: black;
  margin-left: 2vw;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
}


#mainlinks{
  display: flex;
  justify-content: center;
  margin-top: 515px;
}

#mainlinks a{
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 30px;
  margin-right: 30px;

}

#experiencebody{
  display: flex;
  width: 90vw;
  margin-left: 10vw;
  /* margin-top: 20vh; */
}

#experiencehead{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 200;
  margin-top: 21vh;
}

#experiencetext{
  margin: 20vh;
  margin-left: 15vw;
}

#academicsbody{
  display: flex;
  width: 95vw;
  margin-left: 10vw;
  /* margin-top: 20vh; */
}

#academicshead{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 200;
  margin-top: 21vh;
}

#academicstext{
  margin: 20vh;
  margin-left: 10vw;
}

#blogbody{
  display: flex;
  width: 90vw;
  margin-left: 15vw;
  /* margin-top: 20vh; */
}

#bloghead{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 200;
  margin-top: 21vh;
}

#blogtext{
  margin: 20vh;
  margin-left: 15vw;
}

#blog1body, #blog2body{
  display: flex;
  width: 87vw;
  margin-left: 16vw;
  /* margin-top: 20vh; */
}

#blog1head, #blog2head{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 200;
  margin-top: 21vh;
}

#blog1text, #blog2text{
  margin: 20vh;
  margin-left: 15vw;
}

#aboutbody{
  display: flex;
  width: 95vw;
  margin-left: 10vw;
  /* margin-top: 20vh; */
}

#abouthead{
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 200;
  margin-top: 22vh;
}

#abouttext{
  margin: 20vh;
  margin-left: 10vw;
}

.dropbtn{
  background-color: white;
  color: black;
  padding: 0;
  font-size: 20px;
  font-family: georgia;
  border: none;
  margin-left: 15px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdowncontent{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 2px 2px 4px;
  z-index: 1;
}

.dropdowncontent a{
  font-size: 17px;
  color: black;
  padding: 7px 10px 7px 0px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover{
  background-color: #DBDBDB;
}

.dropdown:hover .dropdowncontent{
  display: block;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: .5vw;
}

.left{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: .5vw;
}

#continue a{
    font-family: georgia;
    font-size: 17px;
    color: black;
    text-decoration: none;
    letter-spacing: 1.5px;
}

#continue a:hover{
    font-family: georgia;
    font-size: 17px;
    color: black;
    text-decoration: none;
    letter-spacing: 1.5px;
}

#continue a:visited{
    font-family: georgia;
    font-size: 17px;
    color: black;
    text-decoration: none;
    letter-spacing: 1.5px;
}

#backarrow a{
    font-family: georgia;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

#backarrow a:hover{
    font-family: georgia;
    font-size: 17px;
    color: black;
        text-decoration: none;
}

#backarrow a:visited{
    font-family: georgia;
    font-size: 17px;
    color: black;
        text-decoration: none;
}

#contactbtn{
  display: inline;
  margin-left: 1vw;
  background-color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 22px;
  border: none;
}

#contactbtn a{
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
}

#contactbtn:hover{
  background-color: #343434;
}

#contactbtn:active{
  background-color: #343434;
  padding: 6px;
  padding-right: 20px;
  margin-right: 4px;
  margin-top: 4px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  letter-spacing: 1px;
}

input[type=reset]{
  background-color: black;
  color: white;
  padding: 10px 15px;
  font-family: georgia;
  font-size: 12px;
  letter-spacing: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover{
  background-color: #343434;
}

.container{
  /* margin: 20vh; */
  border-radius: 5px;
  padding: 20px;
}

#contactbody{
  display: flex;
  width: 95vw;
  margin-left: 10vw;
}

#contacthead{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 200;
  margin-top: 22vh;
}

#contacttext{
  margin: 20vh 20vw 2vw 20vw;
  margin-left: 10vw;
  margin-right: 15vw;
}

#fnamelabel, #lnamelabel, #emaillabel, #messagelabel{
  letter-spacing: 2px;
}

#social img{
  width: 10vw;
  margin: 0px 10px 35px 10px;
}

#social{
  display: flex;
  width: 50%;
  margin-left: 26.5vw;
  /* margin: auto; */
  justify-content: center;
  flex-grow: 1;
}

#photos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 6vw;
  margin-bottom: 10vh;
}

#photos img{
  margin-top: 20vh;
  width: 25vw;
}

#meimg{
  width: 45vw;
  margin-left: 3vw;
}

#buffimg{
  width: 25vw;
}

#katespade{
  width: 15vw;
  padding-bottom: 5vh;
}

#acc{
  width: 13vw;
  padding-bottom: 5vh;
}

#platos{
  width: 15vw;
  padding-bottom: 7vh;
  padding-top: 1vh;
}

#seniorpic{
  width: 20vw;
  margin-left: 2vw;
}

b{
  font-size: 20px;
}

h1, h2{
  letter-spacing: 2px;
}

h3, h4{
  letter-spacing: 1px;
}

body{
  font-family: georgia;
  margin: 0;
  padding: 0;
}
